body {
    background-image: url('./photograimg/IMG_1164.JPG');
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
}

.link {
    font-family: Arial, Helvetica, sans-serif;

    flex: 1;
    text-align: center;
}

#first {
    text-align: center;
}
